{% extends "layout.html" %}
{% block content %}

<div class="jumbotron" style="background : linear-gradient(to right, #b0b5b5, #131414);color:white">
    <h1>Welcome To About Page</h1>
</div>

<div class="container" style="width : 70%">
    <div class="jumbotron" style="background : #e1ebe5; width : 80%">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur corporis dolorem, enim harum illum incidunt ipsum nihil omnis quasi, qui soluta sunt tempora, ut voluptatum. Accusantium assumenda optio voluptatem.</p>
    </div>
</div>


{% endblock %}