{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Read feedbacks </h1>
</div>

<div class="container" style="width:50%">
    <div class="jumbotron">
        {% for p in f_back %}
        <h5>{{p.name}}</h5> <p><span style="color:#5a0278">{{p.email}}</span></p><br>
        {{p.feedback}}<br>
        posted : {{p.date}}
        <a class="btn btn-danger float-right" href="/posts/remove/{{p.s_no}}">Delete</a><br>
        <hr>
        <br>
        {% endfor %}

    </div>
</div>
{% endblock %}
