{% extends "layout.html" %}
{% block content %}

<div class="jumbotron" style="background : linear-gradient(to right, #b0b5b5, #131414);color:white">
    <h1>Give feedback</h1>
</div>

<div class="container" style="width:50%">
    <div class="jumbotron">
        <form method="post">
            {{form.csrf_token}}
            {{form.name.label}} <br> {{form.name}}
            <ul>
                {% for error in form.name.errors %}
                <li style="color:red">{{error}}</li>
                {% endfor %}
            </ul>
            <hr>
            {{form.email.label}} <br> {{form.email}}
            <ul>
                {% for error in form.email.errors %}
                <li style="color:red">{{error}}</li>
                {% endfor %}
            </ul>
            <hr>
            {{form.feedback.label}} <br> {{form.feedback}}
            <ul>
                {% for error in form.feedback.errors %}
                <li style="color:red">{{error}}</li>
                {% endfor %}
            </ul>
            <hr>
            {{form.submit}}


        </form>
    </div>
</div>

{% endblock %}